<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <script src="https://kit.fontawesome.com/fcb4a1c19d.js" crossorigin="anonymous"></script>
        
        <meta charset="UTF-8">
        <title>Board Content 페이지</title>

        <style type="text/css">
            .gradation {
                background: linear-gradient( to bottom, white, #0D0922 )
            }
        </style>
        
    </head>
    <body style="background-color:#000000">

        <div class="gradation" style="width: 100%; height: 100px; margin-bottom: 10px;">
            <% include header_footer/header %>
        </div>
        
        <h2 align="center" style="color:white">Board Content</h2>
 
        <div style="padding-left:10px; padding-right:10px">
            <div class="ui segment" style="height: 400px">
                <strong>[제목]</strong> <%= rows[0].b_title %>
                <div align="right"><strong>[작성자: <%= rows[0].b_writer %>]</strong>&nbsp&nbsp&nbsp<%= rows[0].b_date %></div>
  
                <div class="ui divider"></div>  
                <%= rows[0].b_note %>  
            </div>
        </div>
        <table align="right">
            <tr>
                <td>
                    <form method="post" action="/BoardUpdate">
                        <div align="right" style="padding-right:1px; padding-top:10px">
                            <button class="ui blue button" name="boardnum" value="<%= rows[0].b_no %>">
                                Adjust
                            </button>   
                        </div>
                    </form>
                </td>
                <td>
                    <form method="post" action="/BoardDelete">
                        <div align="right" style="padding-right:40px; padding-top:10px">
                            <button class="ui blue button" name="boardnum" value="<%= rows[0].b_no %>">
                                Delete
                            </button>   
                        </div>
                    </form>
                </td>
            </tr>
        </table>
            
    </body>
</html>

<% include header_footer/footer %>