<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <script src="https://kit.fontawesome.com/fcb4a1c19d.js" crossorigin="anonymous"></script>
    
        <meta charset="UTF-8">
        
    </head>
    <body style="background-color:white">
      <td><!--상단 메뉴 인클루드--><% include ./top.ejs %></td>

      <h2 align="center">Board</h2>

      <div class="fields">   
        <div class="field">
          <label>과목</label>
            <select name="subject">
                <option value="student">학부생</option>
                <option value="professor">교수</option>
            </select>
        </div>
    </div><br><br><br>

      <p>게시글 수: <%= results.length %> </p>
      
      <table class="ui celled table">
        <thead>
          <tr>
            <th width="5%" align="center">#</th>
            <th width="40%" align="left" style="padding-left:10px">제목</th>
            <th width="10%" align="center">작성자</th>
            <th width="20%" align="center" style="text-align:center">작성일</th>
          </tr>
        </thead>
        <tbody>
          <% for (var index in results) { %>  
            <tr id="box<%=results[index].Notice_no%>">
                <td><%= results[index].Notice_no %></td>
                <td>
                  <form method="post" action="/BoardContent">  
                      <button class="basic ui button" name="boardno" value="<%= results[index].Notice_no  %>">
                          <%= results[index].title %>
                      </button>
                  </form>
                </td>
                <td><%= results[index].title %></td>
                <td style="text-align:center"><%= results[index].Notice_date %></td>
              </tr>
          <% } %>
        </tbody>
      </table>
      
      <form method="post" action="/BoardWriting">
          <div align="right" style="padding-right:40px; padding-top:10px">
              <button class="ui blue button">
                  Write Content
              </button>   
          </div>
      </form>
      
      <br><br>
  </body>

