<!DOCTYPE html>
<html lang="ko">
    <head>  
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="semantic/semantic.js"></script>
        <script src="javascript/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

        <meta charset="utf-8">

        <script>
          var socket;
          $(function () {
              
          });
          
          var host = "localhost"
          var port = "3000"
          $('#results').append('1');

          connectToServer(host, port);          

          function connectToServer(host, port){
              var url = 'http://' + host + ':' + port;
              var options = {
                  forceNew:true
              };

              socket = io.connect(url, options);
              $('#results').append('2');
              
              createRoom();
              
              socket.on('message', function(message){

                  if(message.sender == '<%-own%>') {
                      printlnRight(message.data);
                  } else {
                      println(message);
                  }
              });
  
          }
          
          function send() {                
              var sender = '<%- own %>'
              var recepient = '<%- room_info[0].chatroom_ID %>'
              var data = $('#dataInput').val();

              if(data) {    
                  var message = {
                      sender:sender,
                      recepient:recepient,
                      command:'groupchat',
                      type:'text',
                      data:data
                  };

                  socket.emit('message', message);
              }
          }
          
          function createRoom() {
              var roomId = '<%- room_info[0].chatroom_ID %>'
              var roomName = '<%- room_info[0].chatroom_ID %>'
              var id = '<%- room_info[0].chatroom_ID %>'
              $('#results').append('3');

              var output = {
                  command:'create',
                  roomId:roomId,
                  roomName:roomName,
                  roomOwner:id
              };
              
              socket.emit('room', output);  
          }
          
          function printlnRight(data) {
              $('#results').append('<div align="right" style="padding-bottom:5px"><div class="ui right pointing basic label">' + data + '</div></div>');
          }
          function println(data) {
              $('#results').append('<div style="padding-bottom:5px"><div class="ui basic label"><i class="paper plane outline icon"></i>' + data.sender + '</div><div class="ui left pointing label">' + data.data + '</div></div>');
          }
          
      </script>

    </head>

    <body style="overflow:hidden;background-color:#f0f0f0;" class="Head_nav" style="font-size:100%;">
        
        <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">채팅하기</h2>
        
        <br>
        <div>

            <div align="right" style="padding-right:20px;">접속자: <%= own %> </div>
            <form method="post" action="/ChatSave">
                <div class="ui action input" style="margin-left: 10px;">
                    <input type="text" id="dataInput" name="content">
                    <button class="ui button" value="<%= room_info[0].chatroom_ID %>" name="roomno" onclick="send()">Send</button>
                </div>
            </form>          
        </div>
        <hr style="color:cadetblue; background-color: black; border: thin solid;  margin-bottom: 20px;">
        
        <% if(content_info) { %>
            <% for(var i=0; i<content_info.length; i++) { %>
                <% if(content_info[i].chatter == own) { %>
                    <div align="right" style="padding-bottom:5px"><div class="ui right pointing basic label"><%= content_info[i].chatcontent %></div></div>
                <% } else { %>
                    <div style="padding-bottom:5px"><div class="ui basic label" ><i class="paper plane outline icon"></i><%= content_info[i].chatter %></div><div class="ui left pointing label"><%= content_info[i].chatcontent %></div></div>
                <% } %>
            <% } %>
        <% } %>
        
        
        <div id="results"></div>

    </body>
</html>