<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
        #gradation {
          background: #b1bfca;
        }
      </style>
      
      <title>광운대학교</title>
    <meta charset="utf-8">

</head>

<body style="overflow:hidden;background-color:#f0f0f0;" class="Head_nav" style="font-size:100%;">

      
      <div class="ui secandary menu" style="height: 70px;" id="gradation">
        <a class="item" href="/Main">
          <strong>JSK 학사정보시스템</strong>
        </a>
        <a class="item" href="/grade_check">
          <strong>성적 조회</strong>
        </a>
        <a class="item" href="/Class">
          <strong>과목 조회</strong>
        </a>
        <div class="right menu">
          <a class="item" href="/ClassApply">
            <strong>수강신청하기</strong>
          </a>
          <a class="item" href="/Friend">
            <strong>친구</strong>
          </a>
          <script>
            var sessionuser = '<%-userid%>'
            if (sessionuser == 'No_One') {
              document.write('<a class="item" href="/Login" style="margin-right:30px"><strong>Login</strong></a></div>');
            } else {
              document.write('<a class="item" href="/Mypage"><i class="user outline icon"></i><%-userid%></a><a class="item" href="/Logout" style="margin-right:30px"><strong>Logout</strong></a>');
            }
          </script>
        </div>
      
      
      
      </div>
    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;"><<%= rows2[0].subject_name %>> 공지사항</h2>

    <div style="overflow:scroll; width:100vw; height:100vh;">
        <p>게시글 수: <%= rows1.length %> </p>

        <table class="ui celled table">
            <thead>
                <tr>
                    <th width="5%" align="center">#</th>
                    <th width="40%" align="left" style="padding-left:10px">제목</th>
                    <th width="10%" align="center">작성자</th>
                    <th width="20%" align="center" style="text-align:center">작성일</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<rows1.length; i++) { %>
                <tr id="<%=rows1[i].Notice_no%>">
                    <td><%= rows1[i].Notice_no %></td>
                    <td>
                        <form method="POST" action="/Notice">
                            <button class="basic ui button" name="boardno" value="<%= rows1[i].Notice_no %>,<%= classname %>">
                                <%= rows1[i].title %>
                            </button>
                        </form>
                    </td>
                    <td><%= rows1[i].professor_ID %></td>
                    <td style="text-align:center"><%= rows1[i].Notice_date %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>