<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <meta charset="utf-8">
    <style>
        td {
            text-align: center;
        }

        td#aa {
            text-align: left;
            padding-left: 8px;
            padding-right: 8px;
        }

        th {
            padding-left: 8px;
            padding-right: 8px;
        }

        #subname {
            width: 200px;
        }
        #gradation {
          background: #b1bfca;
        }      
    </style>
    <title>광운대학교</title>

</head>

<body style="overflow:hidden;background-color:#f0f0f0;" class="Head_nav" style="font-size:100%;">

      <div class="ui secandary menu" style="height: 70px;" id="gradation">
        <a class="item" href="/ZMain">
          <strong>JSK 학사정보시스템</strong>
        </a>
        <a class="item" href="/ZClass">
          <strong>과목조회</strong>
        </a>
        <div class="right menu">
          <script>
            var sessionuser = '<%-userid%>'
            if (sessionuser == 'No_One') {
              document.write('<a class="item" href="/Login" style="margin-right:30px"><strong>Login</strong></a></div>');
            } else {
              document.write('<a class="item" href="/ZMypage"><i class="user outline icon"></i><%-userid%></a><a class="item" href="/Logout" style="margin-right:30px"><strong>Logout</strong></a>');
            }
          </script>
        </div>
      </div>
      
      </div>
      


    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">교수 과목조회</h2>

    <div style="overflow:scroll; width:100vw; height:100vh;">
        <table border="1" style="margin:auto; margin-top:20px">
            <thead>
                <tr>
                    <th>과목번호</th>
                    <th id="subname">과목이름</th>
                    <th>학점</th>
                    <th>구분</th>
                    <th>정원</th>
                    <th>출석입력</th>
                    <th>공지입력</th>
                    <th>성적입력</th>
                </tr>
            </thead>
            <% for(var i=0; i<rows1.length; i++) { %>
            <tr>
                <td><%= rows1[i].O_no %></td>
                <td id="aa"><%= rows2[i].subject_name %></td>
                <td><%= rows2[i].credit %></td>
                <td><%= rows2[i].subject_division %></td>
                <td><%= rows1[i].team_project %></td>
                <form method="GET" action="/ZClassAttendance">
                    <td><button class="ui button" name="classname" value="<%= rows1[i].O_no %>">출석</button></td>
                </form>
                <form method="GET" action="/ZNotice">
                    <td><button class="ui button" name="classname" value="<%= rows1[i].O_no %>">공지사항</button></td>
                </form>
                <form method="GET" action="/ZGrade">
                    <td><button class="ui button" name="classname" value="<%= rows1[i].O_no %>">성적입력</button></td>
                </form>
            </tr>
            <% } %>
        </table>

    </div>

</body>

</html>