<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/semantic.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <meta charset="utf-8">
    <style>
        #gradation {
          background: #b1bfca;
        }
      </style>
      
    <title>광운대학교</title>

</head>

<body style="overflow:hidden;background-color:#f0f0f0;" class="Head_nav" style="font-size:100%;">

    <div class="ui secandary menu" style="height: 70px;" id="gradation">
        <a class="item" href="/ZMain">
          <strong>JSK 학사정보시스템</strong>
        </a>
        <a class="item" href="/ZClass">
          <strong>과목조회</strong>
        </a>
        <div class="right menu">
          <script>
            var sessionuser = '<%-userid%>'
            if (sessionuser == 'No_One') {
              document.write('<a class="item" href="/Login" style="margin-right:30px"><strong>Login</strong></a></div>');
            } else {
              document.write('<a class="item" href="/ZMypage"><i class="user outline icon"></i><%-userid%></a><a class="item" href="/Logout" style="margin-right:30px"><strong>Logout</strong></a>');
            }
          </script>
        </div>
      </div>
    </div>
    <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">교수 성적입력</h2>

    <div style="overflow:scroll; width:100vw; height:100vh;">

        <table class="ui celled table" width="80px">
            <thead>
                <tr>
                    <th width="20%" align="center" style="text-align:center">학번</th>
                    <th width="20%" align="center" style="text-align:center">성적</th>
                    <th width="5%" align="center">입력</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<rows.length; i++) { %>
                <form method="POST" action="/ZGrade">
                    <tr>
                        <td><%= rows[i].student_ID %></td>
                        <td style="margin-left: 5px; margin-right: 5px;">
                            <select name="grade" id="gradeid">
                                <option value="4.5">A+</option>
                                <option value="4">A</option>
                                <option value="3.5">B+</option>
                                <option value="3">B</option>
                                <option value="2.5">C+</option>
                                <option value="2">C</option>
                                <option value="1.5">D+</option>
                                <option value="1">D</option>
                                <option value="0">F</option>
                            </select>
                        </td>
                        <td><button class="ui button" name="classname"
                                value="<%= classname %>,<%= rows[i].student_ID %>">입력</button></td>
                    </tr>
                </form>
                <% } %>
            </tbody>
        </table>
    </div>

</body>

</html>